[MASTER]
load-plugins=pylint_django
ignore=.git, migrations
max-line-length=88
string-quote=double-avoid-escape
triple-quote=double
docstring-quote=double

[MESSAGES CONTROL]
disable=missing-docstring,
        abstract-method,
        arguments-differ,
        attribute-defined-outside-init,
        unused-argument,
        invalid-name,
        too-few-public-methods,
        too-many-ancestors,
        no-self-use,
        bad-continuation,
        line-too-long