[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "==20.8b1"
pytest = "*"
pytest-django = "*"
pylint-django = "*"

[packages]
django = "*"
django-environ = "*"
argon2-cffi = "*"
django-filter = "*"
django-crispy-forms = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"
django-osm-field ="*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false
