{% load l10n %}
{% load crispy_forms_filters %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <div id="div_{{ field.auto_id }}" class="form-group{% if 'form-horizontal' in form_class %} row{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if form_show_errors and field.errors %} has-danger{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">

        {% if field.label %}
            <label for="{{ field.auto_id }}"  class="{{ label_class }}{% if not inline_class %} col-form-label{% endif %}{% if field.field.required %} requiredField{% endif %}">
                {{ field.label|safe }}{% if not field.field.required %} <small class="text-secondary optionalField">(optional)</small>{% endif %}
            </label>
        {% endif %}


        <div class="{% if inline_class %}form-check{% endif %}{% if field_class %} {{ field_class }}{% endif %}"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}>
            {% include './field_errors_block.html' %}

            {% include './help_text.html' %}
            <div class="checkboxselectmultiple -mx-1">
                {% for choice in field.field.choices %}
                    {% if not inline_class %}<div class="form-check">{% endif %}
                    <label id="id_{{ field.id_for_label }}_{{ forloop.counter }}" class="inline-block mx-1 form-check-{% if inline_class %}{{ inline_class }}{% else %}label{% endif %}" for="id_{{ field.html_name }}_{{ forloop.counter }}">
                        <input type="checkbox" class="form-checkbox"{% if choice.0 in field.value or choice.0|stringformat:"s" in field.value or choice.0|stringformat:"s" == field.value|default_if_none:""|stringformat:"s" %} checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0|unlocalize }}" {{ field.field.widget.attrs|flatatt }}>
                        <span class="ml-1 select-none">{{ choice.1|unlocalize }}</span>
                    </label>
                {% if not inline_class %}</div>{% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
{% endif %}
