<div class="relative my-2" x-data="locationDropdown()">
  <input x-ref="input" type="{{ widget.type }}" @input.debounce="onInput($event.target.value)" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>

  <div x-show.transition="open" @click.away="open = false" class="absolute inset-x-0 bg-white shadow-lg text-xs py-3 rounded-b border-gray-400 border-b border-l border-r">
    <ul>
      <template x-for="res in results" :key="res">
        <li><a @click.prevent="onSelect(res)" href="#" class="block px-2 py-2 hover:bg-gray-200" x-text="res.properties.name + ', ' + res.properties.country"></a></li>
      </template>
    </ul>
  </div>
</div>
<script>
  function locationDropdown() {
    return {
      results: [],
      open: false,
      onSelect(res) {
        var x = res.geometry.coordinates[0]
        var y = res.geometry.coordinates[1]
        var latlng = `POINT (${x} ${y})`
        document.getElementById("id_location").value = latlng
        this.$refs.input.value = res.properties.name + ', ' + res.properties.country
        this.open = false
      },
      onInput(input) {
        if (input.length < 3) { results = []; return }
        fetch(`https://photon.komoot.de/api/?limit=5&q=${input}`).then(res => res.json()).then(json => {
          this.open = true
          this.results = json.features
        })
      }
    }
  }
</script>