<a href="{% url "gifting:detail" ad.pk %}" class="relative w-full max-w-3xl group flex items-stretch justify-between my-5 sm:my-10 md:mb-20 bg-secondary bg-opacity-25 p-5 rounded-md">
  <div class="text-xs absolute bottom-0 right-0 rounded-full p-2 text-secondary{% if ad.get_type_display == "Offer" %} bg-primary{% else %} bg-purple{% endif %}">
        {{ ad.get_type_display }}
  </div>
  <div class="flex w-full">
    {% if ad.image %}
      <img class="flex-shrink-0 h-20 w-20 sm:h-32 sm:w-48" src="{{ ad.image.url }}">
    {% else %}
      <div class="flex-shrink-0 h-20 w-20 sm:h-32 sm:w-48 bg-primary"></div>
    {% endif %}

    <div class="pl-2 sm:pl-6 w-full">
      {% if ad.distance != None %}
        <span class="mx-px py-px px-1 text-xs text-gray-500">{{ ad.distance.km|floatformat:1 }} km</span>
      {% endif %}
      <div class="text-xs inline"><i class="fa fa-map-marker text-primary mr-2"></i>{{ ad.location_name }}</div>
      <time class="text-xs text-gray-500 float-right mt-1"><i class="fa fa-calendar mr-2"></i>{{ ad.created_at }}</time>
      <div class="font-serif sm:text-lg group-hover:text-primary">{{ ad.title }}</div>
      <div class="text-sm text-brown">{{ ad.description|truncatewords:20 }}</div>
      <div>
        {% for cat in ad.categories.all %}
          <span class="border mx-px py-px px-1 rounded text-xs text-secondary bg-primary">{{ cat.name }}</span>
        {% endfor %}
        {% if ad.owner == request.user %}
          <span class="absolute bottom-5 border mx-px py-1 px-2 rounded text-xs text-secondary bg-purple"><i class="fa fa-user mr-2"></i>from me</span>
        {% else %}
          <span class="absolute bottom-5"><i class="fa fa-user mr-2"></i>{{ request.user.name }}</span>
        {% endif %}
      </div>
    </div>
  </div>
</a>
