{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="mx-auto max-w-4xl mt-10 px-4">

  {% comment %} breadcrumbs {% endcomment %}
  <nav class="sm:hidden">
    <a href="{% url "gifting:search" %}" class="flex items-center text-sm leading-5 font-medium text-yellow hover:text-purple transition duration-150 ease-in-out">
      <svg class="flex-shrink-0 -ml-1 mr-1 h-5 w-5 text-yellow" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
      </svg>
      {% trans "Back" %}
    </a>
  </nav>
  <nav class="hidden sm:flex items-center text-sm leading-5 font-medium">
    <a href="{% url "gifting:search" %}" class="text-yellow hover:text-purple transition duration-150 ease-in-out">{% trans "Free Market" %}</a>
    <svg class="flex-shrink-0 mx-2 h-5 w-5 text-yellow" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
    </svg>
    <a href="{% url "gifting:search" %}?type={{ ad.type }}" class="text-yellow hover:text-purple transition duration-150 ease-in-out">{{ ad.get_type_display }}</a>
    <svg class="flex-shrink-0 mx-2 h-5 w-5 text-yellow" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
    </svg>
    <span class="text-primary">{{ ad.title }}</span>
  </nav>

  {% comment %} header {% endcomment %}
  <div class="mt-4 md:mt-10 md:flex md:items-center md:justify-between">
    <div class="flex-1 min-w-0">
      <div class="text-primary font-bold">{{ ad.get_type_display }}</div>
      <h1 class="sm:text-3xl sm:leading-9 sm:truncate">
        {{ ad.title }}
      </h1>
      <div class="my-1">
        {% if ad.owner == request.user %}
          <span class="border mx-px py-px px-1 rounded text-xs text-secondary bg-primary">from me</span>
        {% endif %}
        {% for cat in ad.categories.all %}
          <span class="border mx-px py-px px-1 rounded text-xs text-secondary bg-primary">{{ cat.name }}</span>
        {% endfor %}
        <span class="text-sm mx-2">{{ ad.location_name }}</span>
      </div>
    </div>

    {% if ad.owner == request.user %}
      <a href="{% url "gifting:delete" ad.pk %}" class="btn btn-purple flex mx-5">
        {% trans "Delete" %}
      </a>

      <div class="mt-4 flex-shrink-0 flex md:mt-0 md:ml-4">
        <span class="shadow-sm rounded-md">
          <a href="{% url "gifting:edit" ad.pk %}" class="btn inline-flex items-center focus:outline-none focus:shadow-outline-brown focus:border-brown">
            {% trans "Edit" %}
          </a>
        </span>
      </div>
    {% endif %}
  </div>

  {% comment %} content {% endcomment %}
  <div class="mt-10">
    <p>{{ ad.description }}</p>
  </div>
</div>
{% endblock content %}
