{% extends "base.html" %}
{% load i18n %}

{% comment %} dont show navbar {% endcomment %}
{% block navbar %}
{% endblock navbar %}

{% block content %}

<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full">
    <form method="POST" class="bg-secondary bg-opacity-75 shadow rounded-md px-8 py-8 -mt-10">
      {% csrf_token %}

      <h1 class="text-xl text-purple font-bold mb-6">
        {% blocktrans with ad_type=ad.get_type_display %}
          Delete {{ ad_type }}?
        {% endblocktrans %}
      </h1>

      <p>
        {% blocktrans with ad_type=ad.get_type_display ad_title=ad.title %}
          Are you sure you want to delete the {{ ad_type }} <b>{{ ad_title }}</b>?
        {% endblocktrans %}
      </p>

      <div class="flex items-center justify-end -mx-5 mt-8">
        <a class="mx-5 btn flex" href="{{ ad.get_absolute_url }}"><i class="fa fa-ban mr-1"></i>{% trans "Cancel" %}</a>
        <button class="mx-5 btn btn-purple"><i class="fa fa-recycle mr-1"></i>{% trans "Delete" %}</button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}