{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}

{% block content %}
{% comment %} filter bar {% endcomment %}
<div class="bg-white shadow py-4">
  <form x-data="" method="get" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 js-submit-on-input">
    <div class="flex items-center -mx-4">
      <div class="relative w-full max-w-2xl my-4 mx-4">
        <div class="absolute ml-3 inset-y-0 flex items-center text-gray-500">
          <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
        </div>
        <input type="text" class="pl-10 form-input border-gray-400 w-full max-w-2xl focus:shadow-outline-orange" autocomplete="off" autofocus name="search">
      </div>
      <button class="hidden sm:block mx-4 py-2 px-5 rounded bg-orange-500 text-white">{% trans "Search" %}</button>
    </div>

    <div x-on:input="$event.target.form.submit()">
      {{ f.form.type | as_crispy_field }}
    </div>
  </form>

</div>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

  <div class="my-10">
    {% comment %} Add button {% endcomment %}
    <a href="{% url "gifting:create" %}" class="inline-flex items-center px-2 py-2 border bg-white shadow rounded">
      <svg class="h-5 w-5 mr-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" viewBox="0 0 24 24" stroke="currentColor"><path d="M12 4v16m8-8H4"></path></svg>
      {% trans "Add your Wish or Offer" %}
    </a>
  </div>

  <p class="text-gray-700 text-sm">{% blocktrans with count=page_obj.paginator.count %}{{ count }} found{% endblocktrans %}</p>
  
  {% comment %} results {% endcomment %}
  {% for ad in page_obj %}
    {% include "./_ad.html" %}
  {% endfor %}

  {% include "./_pagination.html" %}

</div>
{% endblock content %}