.ol-zoom.ol-control {
  top: auto;
  left: 1rem;
  bottom: 1rem;
  right: auto;

  & button {
    background-color: rgba(218, 97, 55, 0.8);
    border: 1px solid #b4502c;
    color: #fcf3e5;
    width: 2.75rem;
    height: 2.75rem;
    font-size: 1.25rem;
    border-radius: 0.25rem;

    &:hover {
      background-color: rgba(218, 97, 55, 1);
      color: rgb(69 41 18);
    }
  }
}