{% extends "base.html" %}
{% load crispy_forms_tags i18n %}


{% block content %}
<div class="flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full">

    <h1 class="mt-6 text-center text-3xl leading-9">
      {% trans 'Password was reset' %}
    </h1>

    <div class="bg-secondary bg-opacity-75 shadow rounded-md px-8 py-8 mt-10 form-control-w-full">
      <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

      <a class="btn block mt-5" href="{{ login_url }}">{% trans 'Log in' %}</a>
    </div>

  </div>
</div>
{% endblock %}