{% extends "base.html" %}
{% load crispy_forms_tags i18n %}


{% block content %}
<div class="container-auth">
  <div class="max-w-md w-full">

    <h1 class="mt-6 text-center text-3xl leading-9">
      {% trans 'Check your mail' %}
    </h1>

    <div class="panel-card">
      <p class="mb-4">{% trans 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
      <p>{% trans 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
    </div>

  </div>
</div>
{% endblock %}