{% extends "base.html" %}
{% load crispy_forms_tags i18n %}

{% block content %}
<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 mt-10">
  {% comment %} breadcrumbs {% endcomment %}
  <nav class="my-5">
    <a href="{% url "users:login" %}" class="btn flex items-center text-sm leading-5 font-medium transition duration-150 ease-in-out">
      <svg class="flex-shrink-0 -ml-1 mr-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
      </svg>
      {% trans "Login" %}
    </a>
  </nav>

  <h1 class="text-2xl">{% trans "Register for an account at ecobasa" %}</h1>

  <form enctype="multipart/form-data" method="post" class="w-full my-10 form-control-w-full">
    
    {% crispy form %}
    <div class="flex items-center justify-end -mx-5 my-5">
      <a class="mx-5 btn btn-purple flex" href="{% url "users:login" %}"><i class="fa fa-ban mr-1"></i>{% trans "Cancel" %}</a>
      <button class="btn mx-5" type="submit">
        <i class="fa fa-user-check mr-1"></i>
        {% trans "Register" %}
      </button>
    </div>
  </form>

</div>
{% endblock content %}