{% extends 'base.html' %}
{% load i18n embed_video_tags %}

{% block content %}
<div class="mx-auto max-w-7xl mt-10 px-4 pb-10">
	<h1>{{ user.name }}</h1>
<div class="grid grid-cols-4 gap-6">
	<div>
		
	</div>
	<div class="col-span-3">
		<h2>{% trans "About me" %}</h2>
		<p>{{ user.about }}</p>
		<h2>{% trans "What do you do to make the world a better place?" %}</h2>
		<p>{{ user.world }}</p>
		<h2>{% trans "What would you like to use ecobasa mainly for?" %}</h2>
		<p>{{ user.ecobasa_what }}</p>
	</div>
</div>
{% endblock content %}