{% load static i18n site_tags %}<!DOCTYPE html>
<html lang="de" class="h-full">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block head_title %}ecobasa{% endblock head_title %}</title>
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}The sustainable gift-economy community{% endblock %}">
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">

    {% block css %}
      <link rel="stylesheet" href="{% static 'styles/base.min.css' %}">
      <link rel="stylesheet" href="{% static '@fortawesome/fontawesome-free/css/all.css' %}">
    {% endblock %}

    {% block extrahead %}{% endblock %}
  </head>

  <body class="font-sans text-brown antialiased min-h-full flex flex-col">

    <div class="flex-auto">
      {% block navbar %}
        {% include "_navbar.html" %}
      {% endblock navbar %}

      <div class="flex items-stretch justify-between">

        <div class="w-full">
          {% block content %}{% endblock content %}
        </div>
      </div>
    </div>

    {% include "_messages.html" %}

    {% include "_footer.html" %}

    {% block javascript %}
      <script src="{% static 'js/ecobasa-map.js' %}" data-stadia-key="{% stadia_key %}"></script>
      <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.4/dist/htmx.min.js" defer></script>
      <script src="{% static 'alpinejs/dist/cdn.min.js' %}" defer></script>
    {% endblock javascript %}
  </body>

</html>
